<div class="table">
    <table mat-table [dataSource]="dataSource"  >

      <!-- Fecha registro Column -->
       <ng-container matColumnDef="entidad" >
        <th mat-header-cell *matHeaderCellDef  class="tableColorTitulo"> Entidad </th>
        <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.fechaRegistro}} </td>
      </ng-container>

      <!-- Etapa Column -->
       <ng-container matColumnDef="tupa" >
        <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Tupa </th>
        <td mat-cell *matCellDef="let element"class="tableColorCeldas"> {{element.etapa}} </td>
      </ng-container>

       <!-- Descripcion Column -->
       <ng-container matColumnDef="formato" >
        <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Formato </th>
        <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.descripcion}} </td>
      </ng-container>

       <!-- Fecha Estimada Column -->
       <ng-container matColumnDef="fechaEstimada" >
        <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Fecha Estimada </th>
        <td mat-cell *matCellDef="let element"class="tableColorCeldas"> {{element.fechaEstimada}} </td>
      </ng-container>

       <!-- Name Column -->
       <ng-container matColumnDef="responsable" >
        <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Responsable </th>
        <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.responsable}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
    </div>