<div class="container">
  <app-barra></app-barra>
    <div class="cardPrincipal">

    <div class="card m-2">
      <div class="card-body">
        <div class="row">
          <h4><b>Filtros de trámite</b></h4>
          <div class="col-lg-2 my-2">
            <div class="form-group">
              <select class="form-control">
                <option value="">Tipo de operación</option>
                <option value="">Importación</option>
                <option value="">Exportación</option>
              </select>
            </div>
          </div>
          <div class="col-lg-2 my-2">
            <div class="form-group">
              <select class="form-control">
                <option value="">Tupa</option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="col-lg-2 my-2">
            <div class="form-group">
              <select class="form-control">
                <option value="">Formato</option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="col-lg-2 my-2">
            <div class="form-group">
              <select class="form-control">
                <option value="">Mercancia</option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="col-lg-2 my-2">
            <div class="form-group">
              <div class="cardHijo">
              <button mat-raised-button color="warn" style="background-color: rgb(227, 8, 8);">Buscar <mat-icon>search</mat-icon></button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-entidades-card></app-entidades-card>
</div>
