<div class="container">
<div class="titulosSecundarios">Entidades</div>

<div class="cards" >
<mat-grid-list cols="3" rowHeight="2:1" >
    
  <mat-grid-tile id="card" class="layout-row" *ngFor="let card of informacionCards; let index=index">
    <mat-card class="m-3">
      <mat-card-title>{{card.nombre}}</mat-card-title>
      <mat-card-subtitle>{{card.descripcion}}</mat-card-subtitle>

      <div class="form-group">
        <select class="form-control" *ngIf="card.habilitar" >
          <option value="" *ngFor= "let tipo of tipoOperacion;">{{tipo.value}}</option>
        </select>

        <div class="form-group m-2 text-center">
          <button type="button" class="btn btn-danger" routerLink="/ipen">Continuar</button>
        </div>
      </div>

      <mat-radio-group aria-label="Select an option" class="text-center">
        <div id="divRadio">
          <mat-radio-button (click)="desplegarComponente(false, index)" value="habilitar"></mat-radio-button>
          <mat-radio-button (click)="desplegarComponente(true, index)" value="deshabilitar"></mat-radio-button>
        </div>
      </mat-radio-group>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

</div>

</div>