<!-- <div class="container">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">DIGEMID</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Dirección general.</p>
    </div>
  </div>


</div> -->

  <!-- <div class="tituloPrincipal">
    Nueva solicitud
  </div>
  <br>
  <div class="comentarios">
    Elige el proceso deseado para iniciar la solicitud
  </div> -->

<br>
<div class="mat-headline"><b>Entidades</b></div>
<mat-grid-list cols="3" rowHeight="2:1">

  <mat-grid-tile class="layout-row">
      <mat-card class="m-3">
      <mat-card-title>DIGEMID</mat-card-title>
      <mat-card-subtitle>Dirección general de medicamentos e insumos y drogas</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center" >
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card >
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
      <mat-card class="m-3">
      <mat-card-title>DIGESA</mat-card-title>
      <mat-card-subtitle>Dirección general de salud ambiental</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center" >
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card >
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
      <mat-card class="m-3">
      <mat-card-title>IPEN</mat-card-title>
      <mat-card-subtitle>Instituto Peruano de Energía Nuclear</mat-card-subtitle>

      <div class="form-group" *ngIf="show">
        <select class="form-control">
          <option value="">Tipo operacion</option>
          <option value=""></option>
        </select>

        <div class="form-group m-2 text-center">
          <button type="button" class="btn btn-danger" routerLink="/ipen">Continuar</button>
        </div>
      </div>

      <mat-radio-group aria-label="Select an option" class="text-center" >
        <div id="divRadio">
        <mat-radio-button  (click)="desplegarComponente('1')" value="1" ></mat-radio-button>
        <mat-radio-button  (click)="desplegarComponente('2')" value="2" ></mat-radio-button>
        </div>
      </mat-radio-group>

    </mat-card >
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
    <mat-card class="m-3">
      <mat-card-title>MTC</mat-card-title>
      <mat-card-subtitle>Ministerio de transportes y comunicaciones</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center" >
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
    <mat-card class="m-3">
      <mat-card-title>PRODUCE</mat-card-title>
      <mat-card-subtitle>Ministerio de la producción</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center" >
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
    <mat-card class="m-3">
      <mat-card-title>SANIPES</mat-card-title>
      <mat-card-subtitle>Organismo nacional de sanidad pesquera</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center" >
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
    <mat-card class="m-3">
      <mat-card-title>SENASA</mat-card-title>
      <mat-card-subtitle>Servicio nacional de sanidad agraria</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center" >
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
    <mat-card class="m-3">
      <mat-card-title>SERFOR</mat-card-title>
      <mat-card-subtitle>Servicio forestal y de fauna silvestre</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center" >
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
    <mat-card class="m-3">
      <mat-card-title>SUCAMEC</mat-card-title>
      <mat-card-subtitle>Super intendencia nacional de control de servicios de seguridad</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center" >
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
    <mat-card class="m-3">
      <mat-card-title>MINEM</mat-card-title>
      <mat-card-subtitle>Ministerio de energía y minas</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
    <mat-card class="m-3 ">
      <mat-card-title>AGN</mat-card-title>
      <mat-card-subtitle>Archivo general de la nación</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center" >
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
    <mat-card class="m-3">
      <mat-card-title>BNP</mat-card-title>
      <mat-card-subtitle>Biblioteca nacional del perú</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
    <mat-card class="m-3">
      <mat-card-title>MINAGRI</mat-card-title>
      <mat-card-subtitle>Ministerio de la agricultura y riego</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center" >
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
    <mat-card class="m-3">
      <mat-card-title>MINAM</mat-card-title>
      <mat-card-subtitle>Ministerio de ambiente</mat-card-subtitle>

      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
          <div class="col-lg-12 my-2">
            <div class="form-group">
              <select class="form-control">
                <option value="">Tipo de operación</option>
                <option value=""></option>
              </select>

                <div class="form-group m-2 text-center">
                  <button type="button" class="btn btn-danger" routerLink="/ipen">Continuar</button>
                </div>

            </div>
          </div>
        </div>
      </div>
        <div class="text-center" id="nav-tab" role="tablist">
          <mat-radio-group aria-label="Select an option" class="text-center" >
            <div class="text-center">
              <mat-radio-button value="1"  name="flexRadioDefault" id="flexRadioDefault1" checked  id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="radio" role="tab" aria-controls="nav-home"></mat-radio-button>
              <mat-radio-button value="2"  name="flexRadioDefault" id="flexRadioDefault2"  id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="radio" role="tab" aria-controls="nav-profile" ></mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="layout-row">
    <mat-card class="m-3">
      <mat-card-title>DIGESA TACNA</mat-card-title>
      <mat-card-subtitle>Dirección regional de salud Tacna</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center" >
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
