<!-- <div class="container">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">DIGEMID</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Dirección general.</p>
    </div>
  </div>


</div> -->


<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile >
    <mat-card class="m-4">
    <mat-card-title>DIGEMID</mat-card-title>
    <mat-card-subtitle>Dirección general de medicamentos e insumos y drogas</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card ></mat-grid-tile>
  <mat-grid-tile>  <mat-card class="m-3">
    <mat-card-title>DIGEMID</mat-card-title>
    <mat-card-subtitle>Dirección general de medicamentos e insumos y drogas</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card ></mat-grid-tile>
  <mat-grid-tile>  <mat-card class="m-3">
    <mat-card-title>DIGEMID</mat-card-title>
    <mat-card-subtitle>Dirección general de medicamentos e insumos y drogas</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card></mat-grid-tile>
  <mat-grid-tile>  <mat-card class="m-3">
    <mat-card-title>DIGEMID</mat-card-title>
    <mat-card-subtitle>Dirección general de medicamentos e insumos y drogas</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card></mat-grid-tile>
</mat-grid-list>
