.m-3{

    display: block;
    align-items: stretch;
    width:100%;
    min-height: 130px;
    max-height: fit-content;
    border-radius: 7%;
}

.centered {
    text-align: center;
 }

 .divRadio{
    align-items: center;
 }
