.m-3 {

  display: block;
  align-items: stretch;
  width: 100%;
  min-height: 130px;
  max-height: fit-content;
  border-radius: 7%;
}

.centered {
  text-align: center;
}

.divRadio {
  align-items: center;
}

.tituloPrincipal {
  display: inline-block;
  padding: 5px;
  font-size: xx-large;
  font-weight: bolder;
  padding-top: 50px;
}

.titulosSecundarios {
  display: inline-block;
  padding: 5px;
  font-size: x-large;
  font-weight: 500;

}

.boton-perzonalizado {

  padding: 0 8px;

  background-color: rgb(227, 8, 8);

  min-width: 30px;

  line-height: 34px

}
