<br>
<div class="mat-headline">Resultado parametrización</div>
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="m-2">
      <mat-card-title>IPEN</mat-card-title>
      <h4 class="text-primary">TUPA 16 - Pre-requsito N/A</h4>
      <mat-card-subtitle>Autorización de servicios de importación y/o comercializacion de fuentes de radiación
        ionizante.</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center">
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="m-2">
      <mat-card-title>IPEN</mat-card-title>
      <h4 class="text-primary">TUPA 16 - Pre-requsito N/A</h4>
      <mat-card-subtitle>Autorización de servicios de importación y/o comercializacion de fuentes de radiación
        ionizante.</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center">
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="m-2">
      <mat-card-title>IPEN</mat-card-title>
      <h4 class="text-primary">TUPA 16 - Pre-requsito N/A</h4>
      <mat-card-subtitle>Autorización de servicios de importación y/o comercializacion de fuentes de radiación
        ionizante.</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center">
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="m-2">
      <mat-card-title>IPEN</mat-card-title>
      <h4 class="text-primary">TUPA 16 - Pre-requsito N/A</h4>
      <mat-card-subtitle>Autorización de servicios de importación y/o comercializacion de fuentes de radiación
        ionizante.</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center">
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="m-2">
      <mat-card-title>IPEN</mat-card-title>
      <h4 class="text-primary">TUPA 16 - Pre-requsito N/A</h4>
      <mat-card-subtitle>Autorización de servicios de importación y/o comercializacion de fuentes de radiación
        ionizante.</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center">
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="m-2">
      <mat-card-title>IPEN</mat-card-title>
      <h4 class="text-primary">TUPA 16 - Pre-requsito N/A</h4>
      <mat-card-subtitle>Autorización de servicios de importación y/o comercializacion de fuentes de radiación
        ionizante.</mat-card-subtitle>
      <mat-radio-group aria-label="Select an option" class="text-center">
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>