<div mat-dialog-actions>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1 class="text-center"> <b>Documentos digitalizados</b> </h1>

                

                <div class="text-center">
                        <button type="button" (click)="onClickNO()" class="btn btn-outline m-2">Cancelar</button>
                        <button data-bs-dismiss="modal" (click)="showToasterSuccess()" mat-raised-button color="warn"
                            style="background-color: rgb(227, 8, 8);" routerLink="/ " mat-button
                            [mat-dialog-close]="true">Guardar</button>
                </div>

            </div>
        </div>