<div class="container">
  <div class="tituloPrincipal">
    Procesos y subprocesos
  </div><br>
  <div class="comentarios">
    Elige el tramite usando los siguientes filtros.
  </div>
  <app-tabs></app-tabs>
  <div class="alinear">
    <div class="card m-2">
      <div class="card-body">
        <div class="row">
          <h2><b>Filtros de búsqueda</b></h2>
          <div class="col-lg-3 my-2">
            <div class="form-group">
              <select class="form-control">
                <option value="">Entidad</option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 my-2">
            <div class="form-group">
              <select class="form-control">
                <option value="">Procedimiento</option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="d-flex flex-row-reverse col-lg-6 my-2">
            <div class="form-group">
              <button mat-raised-button color="warn" style="background-color: rgb(227, 8, 8);"
                (click)="mostrarContenidoProcesos()">Buscar <mat-icon>search
                </mat-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- contenido oculto -->

    <div class="container formDatos" *ngIf="vistaFormProcesos==true">
      <div class="table">
        <table mat-table [dataSource]="dataSource">


          <ng-container matColumnDef="entidad">
            <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Entidad </th>
            <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.entidad}} </td>
          </ng-container>


          <ng-container matColumnDef="procedimiento">
            <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Procedimiento </th>
            <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.procedimiento}} </td>
          </ng-container>


          <ng-container matColumnDef="codigoTupa">
            <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Código TUPA</th>
            <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.codigoTupa}} </td>
          </ng-container>


          <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Fecha de creación </th>
            <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.fechaCreacion}} </td>
          </ng-container>


          <ng-container matColumnDef="fechaModificacion">
            <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Fecha de modificación </th>
            <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.fechaModificacion}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Acciones </th>
            <td mat-cell *matCellDef="let element" class="tableColorCeldas">
              <button routerLink="/consultas-PS" class="text-danger" mat-icon-button
                aria-label="Example icon button with a vertical three dot icon" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <mat-icon matTooltip="Consultar"
                  aria-label="Button that displays a tooltip when focused or hovered over" class="color-icono">
                  <mat-icon>find_in_page</mat-icon>
                </mat-icon>
              </button>
            </td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </div>

  </div>
</div>

