.table {
  padding-top: 15px;
}

.tableColorTitulo {
  background-color: grey;
  color: white;
  font-size: medium;

}

.tableColorCeldas {
  background-color: rgb(238, 236, 236);
  font-size: medium;
}
