<div class="d-flex flex-row-reverse m-2">

  <div class="form-group">
    <button class="boton-perzonalizado" style="background-color: rgb(227, 8, 8);" mat-raised-button color="accent"
      aria-label="Example icon button with a plus one icon">
      <mat-icon>cancel</mat-icon>
    </button>
    <h3 class="text-danger d-inline"> <b> Cerrar busqueda </b> </h3>
  </div>

</div>

<div class="comentarios">
  Busca por código o descripción la subpartida nacional y luego selecciona la que corresponde para continuar con el
  trámite
</div>

<div class="card m-2">
  <div class="card-body">
    <div class="row">
      <h4><b>Filtros de búsqueda subpartidas nacionales</b></h4>
      <div class="col-lg-2 my-2">
        <div class="form-group">
          <select class="form-control">
            <option value="">Código</option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="col-lg-2 my-2">
        <div class="form-group">
          <select class="form-control">
            <option value="">Descripción</option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="col-lg-2 my-2">
        <div class="form-group">
          <button mat-raised-button color="warn" style="background-color: rgb(227, 8, 8);">Buscar <mat-icon>search
            </mat-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mat-headline"><b>Resultado parametrización</b></div>

<mat-selection-list #shoes [multiple]="false">
  <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
    <div class="d-flex">
      <div class="p-3" routerLink="/tabsNumber">
        <mat-icon>add_circle</mat-icon>{{shoe}}
      </div>
    </div>
    <!-- <div class="d-flex justify-content-end">ultimo</div> -->
  </mat-list-option>
</mat-selection-list>

<p>
  Option selected: {{shoes.selectedOptions.selected[0]?.value}}
</p>