<div class="container">
    <div class="tituloPrincipal">
        Gestión de firmas
    </div><br>
    <div class="comentarios">
        Selecciona los filtros correspondientes.
    </div>
    <app-tabs></app-tabs>
    <div class="container">
        <div class="card m-2">
            <div class="card-body">
                <div class="row">
                    <h2><b>Filtros de búsqueda</b></h2>
                    <div class="col-lg-3 my-2">
                        <div class="form-group">
                            <select class="form-control">
                                <option value="">Entidad</option>
                                <option value="">IPEN</option>
                                <option value="">MINAM</option>
                                <option value="">SERFOR</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 my-2">
                        <div class="form-group">
                            <select class="form-control">
                                <option value="">Procedimiento</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 my-2">
                        <div class="form-group">
                            <select class="form-control">
                                <option value="">Tipo de documento</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-lg-3 my-2">
                        <div class="example-button-container m-2">
                            <button  data-bs-toggle="modal"
                                data-bs-target="#exampleModal" mat-raised-button color="warn"
                                style="background-color: rgb(227, 8, 8);">Buscar
                                <mat-icon>search</mat-icon>
                            </button>

                        </div>
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modal-dialog modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center"> <b>Configuración de firma</b> </h2>
                <h3 class="text-black"><b>Entidad:</b></h3>
                <h3 class="text-black"><b>Procedimiento:</b></h3>
                <h3 class="text-black"><b>Tipo de documento:</b></h3>
                <div class=" text-center">
                    <h2><b>¿Requiere firma?</b></h2>
                    <div>
                        <mat-radio-group col="2" aria-label="Select an option">
                            <mat-radio-button class="radioButton " (click)="desplegarComponente('1')" value="1"><b>Si
                                </b>
                            </mat-radio-button>
                            <mat-radio-button (click)="desplegarComponente('2')" value="2"><b>No</b>
                            </mat-radio-button>
                        </mat-radio-group>

                    </div>
                    <h2><b>¿Tipo de firma?</b></h2>
                    <div class=" ">
                        <mat-radio-group col="2" aria-label="Select an option">
                            <mat-radio-button class="radioButton" (click)="desplegarComponente('1')" value="1">Firma
                                digital
                            </mat-radio-button>
                            <mat-radio-button (click)="desplegarComponente('2')" value="2">Firma manual
                            </mat-radio-button>
                        </mat-radio-group>

                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-outline-danger m-2" data-bs-dismiss="modal">Cancelar</button>
                    <button (click)="showToasterSuccess()" (click)="mostrarContenidoDocResolutivo()" data-bs-dismiss="modal" mat-raised-button color="warn"
                        style="background-color: rgb(227, 8, 8);" routerLink="/gestionFirmas">Guardar </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- contenido oculto -->
<div class="container">
    <div class="container formDatos" *ngIf="vistaFormProcesos==true">
        <div class="table">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="entidad">
                    <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Entidad </th>
                    <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.entidad}} </td>
                </ng-container>

                <ng-container matColumnDef="tupa">
                    <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Tupa</th>
                    <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.tupa}} </td>
                </ng-container>

                <ng-container matColumnDef="procedimiento">
                    <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Procedimiento </th>
                    <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.procedimiento}} </td>
                </ng-container>

                <ng-container matColumnDef="tipo de documento">
                    <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Tipo de documento </th>
                    <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.tipoDocumento}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Acciones </th>
                    <td mat-cell *matCellDef="let element" class="tableColorCeldas">
                        <button class="text-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"mat-icon-button
                            aria-label="Example icon button with a vertical three dot icon"
                            routerLink="/gestionFirmas">
                            <mat-icon matTooltip="Configuración de firma"
                                aria-label="Button that displays a tooltip when focused or hovered over"
                                class="color-icono">
                                <mat-icon>notes</mat-icon>
                          
                            </mat-icon>
                        </button>
                        <button routerLink="" class="text-danger" mat-icon-button
                            aria-label="Example icon button with a vertical three dot icon"
                            data-bs-target="#exampleModal">
                            <mat-icon matTooltip="firma digital"
                                aria-label="Button that displays a tooltip when focused or hovered over"
                                class="color-icono">
                                <mat-icon>insert_drive_file</mat-icon>
                            </mat-icon>
                        </button>
                    </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </div>
</div>