<h1><b> MINAN - Importación de residuos sólidos</b></h1>
<p>Elige el formato deseado para continuar con el inicio de la solicitud.</p>
<button type="button" routerLink="/entidades" class="btn btn-danger d-inline"><mat-icon  class="color-icono"> arrow_back  </mat-icon></button>
<h3 class="text-danger d-inline"> <b> Volver entidades</b> </h3>
  <div class="card m-2">
    <div class="card-body">
      <div class="row">
        <h4><b>Filtros de trámite</b></h4>
        <div class="col-lg-2 my-2">
          <div class="form-group">
            <select class="form-control">
              <option value="">Tipo de operación</option>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="form-group">
            <select class="form-control">
              <option value="">Tupa</option>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="form-group">
            <select class="form-control">
              <option value="">Formato</option>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="form-group">
            <select class="form-control">
              <option value="">Mercancia</option>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="form-group">
            <select class="form-control">
              <option value="">Palabra clave</option>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="form-group">
            <button type="button" class="btn btn-danger">Buscar<mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-card-ipen></app-card-ipen>



