<h1><b> IPEN - Instituto Peruano de Energía Nuclear</b></h1>
<p>Elige el formato deseado para continuar con el inicio de la solicitud.</p>
<div class="example-button-container m-2">
  <button class="boton-perzonalizado" mat-raised-button color="accent" aria-label="Example icon button with a plus one icon" routerLink="/entidades">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h3 class="text-danger d-inline"> <b> Volver entidades </b> </h3>
</div>
  <div class="card m-2">
    <div class="card-body">
      <div class="row">
        <h4><b>Filtros de trámite</b></h4>
        <div class="col-lg-2 my-2">
          <div class="form-group">
            <select class="form-control">
              <option value="">Tipo de operación</option>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="form-group">
            <select class="form-control">
              <option value="">Tupa</option>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="form-group">
            <select class="form-control">
              <option value="">Formato</option>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="form-group">
            <select class="form-control">
              <option value="">Mercancia</option>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="form-group">
            <select class="form-control">
              <option value="">Palabra clave</option>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="form-group">
            <button mat-raised-button color="warn" style="background-color: rgb(227, 8, 8);">Buscar <mat-icon>search</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-card-ipen></app-card-ipen>



