<div  class="accordion">
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <div class="tituloDesplegable">
        Datos generales
      </div>
    </mat-expansion-panel-header>
    <mat-tab-group mat-stretch-tabs color="warn">
      <mat-tab label="Datos Solicitud">
        <mat-grid-list cols="3" rowHeight="35px">
          <mat-grid-tile>
            <div class="text-inside-grid">Número Trámite:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Fecha Solicitud:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Hora Solicitud:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Fecha Actualización:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Hora Actualización:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Tasa:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Plazo:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Calificación:</div>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <br>
          <div class="titulosSecundarios">Trazabilidad</div>
          <div class="table">
            <table mat-table [dataSource]="dataSource">

              <!-- Fecha registro Column -->
              <ng-container matColumnDef="fechaRegistro">
                <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Fecha Registro </th>
                <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.fechaRegistro}} </td>
              </ng-container>

              <!-- Etapa Column -->
              <ng-container matColumnDef="etapa">
                <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Etapa </th>
                <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.etapa}} </td>
              </ng-container>

              <!-- Descripcion Column -->
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Descripción detallada </th>
                <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.descripcion}} </td>
              </ng-container>

              <!-- Fecha Estimada Column -->
              <ng-container matColumnDef="fechaEstimada">
                <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Fecha Estimada </th>
                <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.fechaEstimada}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="responsable">
                <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Responsable </th>
                <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.responsable}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </mat-tab>
      <!--Inicia datos solicitante-->
      <mat-tab label="Datos Solicitante">
        <div class="titulosSecundarios">Datos generales usuario</div>
        <mat-grid-list cols="3" rowHeight="35px">
          <mat-grid-tile>
            <div class="text-inside-grid"> Identificación:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Razón social :</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Actividad:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Celular:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Teléfono:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Fax:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Email:</div>
          </mat-grid-tile>
        </mat-grid-list>
        <div class="titulosSecundarios">Ubicación</div>
        <mat-grid-list cols="3" rowHeight="35px">
          <mat-grid-tile>
            <div class="text-inside-grid">Departamento:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Provincia:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Distrito:</div>
          </mat-grid-tile>
        </mat-grid-list>
         <mat-grid-list cols="1" rowHeight="35px">
          <mat-grid-tile>
            <div class="text-inside-grid">Dirección:</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside-grid">Referencia:</div>
          </mat-grid-tile>

        </mat-grid-list>

        <div class="titulosSecundarios">Datos representante legal</div>

        <form class="form">

          <lib-dynamicForm [jsonFormData]="formData" style="width: 100%; "></lib-dynamicForm>



          <div _ngcontent-bvl-c85="" class="form-group m-2 text-center">


          </div>


        </form>
        <div class="d-flex flex-row-reverse m-2">
          <div class="form-group">
            <button mat-raised-button color="warn" style="background-color: rgb(227, 8, 8);"
              (click)="habilitarRegistroTramite()">Continuar <mat-icon>arrow_forward</mat-icon></button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>

  <!--Finaliza datos solicitante-->
  <!-- otro tab -->
  <!--Inicia registro de tramite-->
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
    [disabled]="disabledRegistroTramite">
    <mat-expansion-panel-header>

      <div class="tituloDesplegable">
        Registro de trámite
      </div>
    </mat-expansion-panel-header>
    <mat-tab-group mat-stretch-tabs color="warn">
      <!--tab detalle-->
      <mat-tab label="Detalle">
        <mat-grid-list cols="6" rowHeight="285px">
          <lib-dynamicForm [jsonFormData]="formDataDetalle" style="width: 100%; ">
          </lib-dynamicForm>
        </mat-grid-list>
        <div>

        </div>

      </mat-tab>
      <!--finaliza tab detalle-->
      <!--Inicia tab producto-->
      <mat-tab label="Producto">

        <mat-grid-list cols="3" rowHeight="fit">
          <div *ngIf="vistaBusqueda != true">
          <div class="container example-button-container my-2">
            <div class="form-group">
              <button class="boton-perzonalizado" mat-raised-button color="warn"
                style="background-color: rgb(227, 8, 8);" (click)=" mostrarFormProducto()">Nuevo Producto</button>
            </div>
          </div>
          <lib-dynamicForm *ngIf="vistaFormDocumento==true" [jsonFormData]="formDataDocumento" style="width: 100%; ">
          </lib-dynamicForm>
          <mat-form-field *ngIf="vistaFormDocumento==true" class="example-full-width" appearance="fill">
            <mat-label>Subpartida Nacional <mat-icon>search</mat-icon>
            </mat-label>
            <textarea matInput (click)="mostrarBusquedaSubpartida()">{{id}}</textarea>
          </mat-form-field>
          <div class="d-flex flex-row-reverse m-2" *ngIf="vistaFormDocumento==true">
            <div class="form-group">
              <button mat-raised-button color="warn" style="background-color: rgb(227, 8, 8);" (click)="guardarProducto()"> Guardar </button>
            </div>
          </div>
        </div>
          <!-- Mostrar busqueda subpartida-->
          <div *ngIf="vistaFormDocumento==true">
            <div *ngIf="vistaBusqueda != false">
              <div class="d-flex flex-row-reverse m-2">
                <div class="form-group">
                  <button class="boton-perzonalizado" style="background-color: rgb(227, 8, 8);" mat-raised-button
                    color="accent" aria-label="Example icon button with a plus one icon" (click)="cerrarBusqueda()">
                    <mat-icon>cancel</mat-icon>
                  </button>
                  <h3 class="text-danger d-inline"> <b> Cerrar busqueda </b> </h3>
                </div>
              </div>
              <div class="comentarios">
                Busca por código o descripción la subpartida nacional y luego selecciona la que corresponde para
                continuar con el trámite
              </div>
              <div class="card m-2">
                <div class="card-body">
                  <div class="row">
                    <h4><b>Filtros de búsqueda subpartidas nacionales</b></h4>
                    <div class="col-lg-2 my-2">
                      <div class="form-group">
                        <select class="form-control">
                          <option value="">Código</option>
                          <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-2 my-2">
                      <div class="form-group">
                        <select class="form-control">
                          <option value="">Descripción</option>
                          <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-2 my-2">
                      <div class="form-group">
                        <button mat-raised-button color="warn" style="background-color: rgb(227, 8, 8);">Buscar
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mat-headline"><b>Resultado parametrización</b></div>
              <table mat-table [dataSource]="dataSourceBusquedaTabla" class="mat-elevation-z8 demo-table">
                <!-- Position Column -->
                <ng-container matColumnDef="producto">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">{{element.producto}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="seccion">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">{{element.seccion}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsBusqueda"></tr>
                <tr mat-row (click)="clicked(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
                  *matRowDef="let row; columns: displayedColumnsBusqueda;"></tr>
              </table>
            </div>
          </div>
            <!--Fin busqueda subpartida-->

            <div *ngIf="vistaFormDocumento!=true">
            <div  *ngIf="vistaBusqueda != true "class="table">
              <table mat-table [dataSource]="dataSource">

                <!-- Fecha registro Column -->
                <ng-container matColumnDef="fechaRegistro">
                  <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Tipo producto </th>
                  <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.fechaRegistro}} </td>
                </ng-container>

                <!-- Etapa Column -->
                <ng-container matColumnDef="etapa">
                  <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Partida arancelaria </th>
                  <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.etapa}} </td>
                </ng-container>

                <!-- Descripcion Column -->
                <ng-container matColumnDef="descripcion">
                  <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Subpartida nacional </th>
                  <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.descripcion}} </td>
                </ng-container>

                <!-- Fecha Estimada Column -->
                <ng-container matColumnDef="fechaEstimada">
                  <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Editar </th>
                  <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.fechaEstimada}} </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>

        </mat-grid-list>
      </mat-tab>

      <mat-tab label="Requisitos adjuntos">
        <mat-grid-list cols="3" rowHeight="350px">
          <div class="table">
            <div *ngIf="botonDescargarAdjuntos==true" class="example-button-container m-2">
              <button class="boton-perzonalizado" mat-raised-button color="accent"
                aria-label="Example icon button with a plus one icon" routerLink="/ipen">
                <mat-icon style="background-color: rgb(227, 8, 8);">cloud_download</mat-icon>
              </button>
              <h3 class="text-danger d-inline"> <b> Descargar adjuntos </b> </h3>
            </div>
            <div class="mat-headline"><b>Documentos para adjuntar</b></div>
            <table mat-table [dataSource]="dataSourceRequisitos">

              <!-- Fecha registro Column -->
              <ng-container matColumnDef="fechaRegistro">
                <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Obligatorio </th>
                <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.obligatorio}} </td>
              </ng-container>

              <!-- Etapa Column -->
              <ng-container matColumnDef="etapa">
                <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Descripción </th>
                <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.descripcion}} </td>
              </ng-container>

              <!-- Descripcion Column -->
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> No. adjuntos </th>
                <td mat-cell *matCellDef="let element" class="tableColorCeldas"> {{element.nAdjuntos}} </td>
              </ng-container>

              <!-- Fecha Estimada Column -->
              <ng-container matColumnDef="fechaEstimada">
                <th mat-header-cell *matHeaderCellDef class="tableColorTitulo"> Acciones </th>
                <td mat-cell *matCellDef="let element" class="tableColorCeldas">
                  <button *ngIf="botonDescargarAdjuntos==true" class="text-danger" mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <mat-icon>find_in_page</mat-icon>
                  </button>
                  <button class="text-danger" mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <mat-icon>cloud_upload</mat-icon>
                  </button>
                </td>

              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

        </mat-grid-list>
        <div>

        </div>
      </mat-tab>


    </mat-tab-group>

    <div class="text-center">
      <button mat-stroked-button color="warn">Cancelar proceso</button>
      <button mat-raised-button color="warn" class="m-2" [disabled]="disabledButton">Enviar solicitud</button>
    </div>

  </mat-expansion-panel>

</mat-accordion>

<!-- modal -->
<!-- Modal -->
<div class="modal fade modal-dialog modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="text-center"> <b>Cargue de archivos</b> </h1>

        <div class="row">

          <div class="col-6">
            <div class="mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Tipo de cargue *</option>
                <option value="1">Nuevo archivo</option>
              </select>
            </div>
          </div>

          <div class="col-6">
            <div class="mb-3">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>

          <div class="12">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">Nombre archivo</th>
                  <th scope="col">Tamaño</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td>Mark</td>
                  <td>Otto</td>
                  <td>
                    <mat-icon class="text-danger">restore_from_trash</mat-icon>
                  </td>
                </tr>
                <tr>

                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>
                    <mat-icon class="text-danger">restore_from_trash</mat-icon>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>

        </div>


      </div>
      <div class="comentarios">

        Selecciona los documentos a adjuntar(Maximo de 10 MB): Archivos*.PDF, *.DOC

      </div>

      <div class="text-center">

        <button type="button" class="btn btn-outline-danger m-2" data-bs-dismiss="modal">Cancelar</button>
        <button (click)="showToasterSuccess()" data-bs-dismiss="modal" mat-raised-button color="warn"
          style="background-color: rgb(227, 8, 8);" routerLink="/tabsNumber">Adjuntar archivo </button>
      </div>
    </div>
  </div>
</div>
