
<div class="mat-headline">Resultado parametrización</div>
<mat-grid-list cols="3" rowHeight="1:1">

  <mat-grid-tile >
    <mat-card class="m-2">
    <mat-card-title>TUPA 7</mat-card-title>
    <h4 class="text-primary">MNM002 - Pre-requisito N/A</h4>
    <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nostrum dignissimos quasi, vero officia aperiam, reprehenderit earum, nulla ipsum minus tempora debitis veniam quia minima atque ipsam recusandae possimus natus!.</mat-card-subtitle>
    <h4>valor</h4>
    <h4>valor</h4>
    <div class="example-button-row">
      <button mat-raised-button color="warn">Iniciar trámite</button>
    </div>
  </mat-card >
</mat-grid-tile>


<mat-grid-tile >
  <mat-card class="m-2">
  <mat-card-title>TUPA 7</mat-card-title>
  <h4 class="text-primary">MNM002 - Pre-requisito N/A</h4>
  <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nostrum dignissimos quasi, vero officia aperiam, reprehenderit earum, nulla ipsum minus tempora debitis veniam quia minima atque ipsam recusandae possimus natus!.</mat-card-subtitle>
  <h4>valor</h4>
  <h4>valor</h4>
  <div class="example-button-row">
    <button mat-raised-button color="warn" routerLink="/tupaipen">Iniciar trámite</button>
  </div>
</mat-card >
</mat-grid-tile>

<mat-grid-tile >
  <mat-card class="m-2">
  <mat-card-title>TUPA 7</mat-card-title>
  <h4 class="text-primary">MNM002 - Pre-requisito N/A</h4>
  <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nostrum dignissimos quasi, vero officia aperiam, reprehenderit earum, nulla ipsum minus tempora debitis veniam quia minima atque ipsam recusandae possimus natus!.</mat-card-subtitle>
  <h4>valor</h4>
  <h4>valor</h4>
  <div class="example-button-row">
    <button mat-raised-button color="warn">Iniciar trámite</button>
  </div>
</mat-card >
</mat-grid-tile>
</mat-grid-list>

