.m-3 {

  display: block;
  align-items: stretch;
  width: 100%;
  min-height: 130px;
  max-height: fit-content;
  border-radius: 7%;
}

.red-color {
  color: red
  
}

.title_center {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.title_center2 {
 display: flex;
  justify-content: left; /* align horizontal */
  align-items: left; /* align vertical */
}

.tituloPrincipal{
  display: inline-block;
  padding: 12px;
  font-size: xx-large;
  font-weight: bolder;
  padding-top: 50px;
}

.titulosSecundarios{
  display: inline-block;
  padding: 12px;
  font-size: x-large;
  font-weight: 500;
  
}

.comentarios{
  font-size: medium;
  display: inline-block;
  padding: 13px;
  color:gray;
  padding-top: 25px;
}

.alinear{
  display: inline-block;
  padding: 12px;
  
}

.paddingControl{
  padding-left: 1090px;
}

.titulosCards{
  padding: 1px;
  font-size: x-large;
  font-weight: 500;
  text-align: center;
  
}

.paddingIcono{
  padding: 15px;
}

