<div class="titulosSecundarios">
  <b>Resultado parametrización</b>
</div>
<br>
  <div class="alinear">
  1 al 4 de 36 resultados
</div>
  <div class="paddingControl">
    <select class="form-control" style="width: 190px;">
      <option value="">Cantidad de resultados</option>
      <option value="">4</option>
    </select>
  </div>

<mat-grid-list cols="3" rowHeight="1:1">
    
  <mat-grid-tile>
    <mat-card class="m-3">
      <mat-card-title><span class="material-icons red-color">star_border</span> TUPA 11 </mat-card-title>
      <h3 class="text-primary">IPN001 - Pre-requisito TUPA 11</h3>
      <mat-card-subtitle> Autorizacion para Importar Fuente de Radiacion Nueva </mat-card-subtitle>
      <h3>Trámites en curso </h3>
      <h3>Tasa </h3>
      <h3>Plazo </h3>
      <div class="example-button-row">
        <button mat-raised-button color="warn">Iniciar trámite</button>
      </div>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile>
    <mat-card class="m-3">
      <mat-card-title> <span class="material-icons red-color">star_border</span> TUPA 11</mat-card-title>
      <h3 class="text-primary">IPN003 - Pre-requisito TUPA 11</h3>
      <mat-card-subtitle> Autorizacion para Importar Fuente de Radiaciones Usada </mat-card-subtitle>
      <h3>Trámites en curso </h3>
      <h3>Tasa </h3>
      <h3>Plazo </h3>
      <div class="example-button-row">
        <button mat-raised-button color="warn" routerLink="/tabsNumber">Iniciar trámite</button>
      </div>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="m-3">
      <mat-card-title><span class="material-icons red-color ">star_border</span> TUPA 11</mat-card-title>
      <h3 class="text-primary">IPN004 - Pre-requisito TUPA 11</h3>
      <mat-card-subtitle>Autorizacion para Importar Fuente de Radiaciones Repotenciada</mat-card-subtitle>
      <h3>Trámites en curso </h3>
      <h3>Tasa </h3>
      <h3>Plazo </h3>
      <div class="example-button-row">
        <button mat-raised-button color="warn">Iniciar trámite</button>
      </div>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="m-3">
      <mat-card-title> <span class="material-icons red-color">star_border</span> TUPA 12</mat-card-title>
      <h3 class="text-primary">IPN002 - Pre-requisito TUPA 11</h3>
      <mat-card-subtitle>Autorización de Transporte/Exportación de Material Radiactivo o Nuclear (válido para cada
        remesa)</mat-card-subtitle>
      <h3>Trámites en curso </h3>
      <h3>Tasa </h3>
      <h3>Plazo </h3>
      <div class="example-button-row">
        <button mat-raised-button color="warn">Iniciar trámite</button>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>