<div class="container">
  <div class="linkSeccion">
    <nav mat-tab-nav-bar ngClass="tabs">
      <a mat-tab-link routerLink="/contenidos-generales" routerLinkActive="active-link"><b>Generales</b></a>
      <a mat-tab-link routerLink="/procesos-subprocesos" routerLinkActive="active-link">Procesos y Subprocesos</a>
      <a mat-tab-link routerLink="/sucePreexistente" routerLinkActive="active-link"><b>Productos</b></a>
      <a mat-tab-link routerLink="/mis-favoritos" routerLinkActive="active-link"><b>Documentos</b></a>
      <a mat-tab-link routerLink="/tramites" routerLinkActive="active-link"><b>Documentos resolutivos</b></a>
      <a mat-tab-link routerLink="/tramites" routerLinkActive="active-link"><b>Gestión de areas</b></a>
      <a mat-tab-link routerLink="/tramites" routerLinkActive="active-link"><b>Gestión de firmas</b></a>
    </nav>
  </div>

</div>
