.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}



::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: rgb(255, 116, 10);
}

.example-button-row button,
.example-button-row a {
  margin-right: 5px;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.text-inside-grid {
  position: absolute;
  left: 5px;
  font-size: medium;
  padding-top: 15px;
}

.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}


.tituloPrincipal{
  display: inline-block;
  padding: 15px;
  font-size: xx-large;
  font-weight: bolder;
}

.titulosSecundarios{
  display: inline-block;
  padding: 5px;
  font-size: x-large;
  font-weight: 500;
  padding-top: 15px;
}

.comentarios{
  font-size: medium;
  display: inline-block;
  padding: 15px;
  color:gray;
}

.table{
  padding-top: 15px;
}
.tableColorTitulo{
  background-color: grey;
  color: white;
  font-size: medium;

}
.tableColorCeldas{
  background-color: rgb(238, 236, 236);
  font-size: medium;
}
.tituloDesplegable{
  display: inline-block;
  padding: 5px;
  font-size: x-large;
  font-weight: 500;
  padding-top: 10px;
}
.tabs{
  font-weight: 500;
  text-decoration-color: red ;
}

