<div class="card m-2">
  <div class="card-body">
    <div class="row">
      <h4 class="font-weight-bold"><b>Filtros de cadena de trámite</b></h4>
      <div class="col-lg-2 my-2">
        <div class="form-group">
          <select class="form-control form-floating">
            <option value="">Importación</option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="col-lg-2 my-2">
        <div class="form-group">
          <select class="form-control">
            <option value="">Tipo de mercancia</option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="col-lg-2 my-2">
        <div class="form-group">
          <select class="form-control">
            <option value="">País destino</option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="col-lg-2 my-2">
        <div class="form-group">
          <select class="form-control">
            <option value="">Entidad</option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="col-lg-2 my-2">
        <div class="form-group">
          <select class="form-control">
            <option value="">Tipo trámite</option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="col-lg-2 my-2">
        <div class="form-group">
          <button type="button" class="btn btn-danger">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-card-tramite></app-card-tramite>


