<div class="container">

  <div class="row">
    <h4>Filtros de cadena de trámite</h4>
    <div class="col-lg-2 my-2">
      <div class="form-group">
        <select class="form-control">
          <option value="">Tipo de operación</option>
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="col-lg-2 my-2">
      <div class="form-group">
        <select class="form-control">
          <option value="">Tipo de operación</option>
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="col-lg-2 my-2">
      <div class="form-group">
        <select class="form-control">
          <option value="">Tipo de operación</option>
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="col-lg-2 my-2">
      <div class="form-group">
        <select class="form-control">
          <option value="">Tipo de operación</option>
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="col-lg-4 my-2">
      <div class="form-group">
        <button type="button" class="btn btn-danger">Buscar</button>
      </div>
    </div>
  </div>

</div>

<app-card-tramite></app-card-tramite>


